[submodule "Vendor/RestKit"]
	path = Vendor/RestKit
	url = git://github.com/RestKit/RestKit.git
[submodule "Vendor/tapkulibrary"]
	path = Vendor/tapkulibrary
	url = git://github.com/kueda/tapkulibrary.git
[submodule "Vendor/three20"]
	path = Vendor/three20
	url = git://github.com/facebook/three20.git
[submodule "Vendor/DCRoundSwitch"]
	path = Vendor/DCRoundSwitch
	url = git://github.com/computerlogicx/DCRoundSwitch.git
[submodule "Vendor/SWRevealViewController"]
	path = Vendor/SWRevealViewController
	url = https://github.com/John-Lluch/SWRevealViewController.git
