//
//  config.h
//  iNaturalist
//
//  Created by Zeev Vax on 3/28/13.
//  Copyright (c) 2013 iNaturalist. All rights reserved.
//


#ifndef iNaturalist_config_h
#define iNaturalist_config_h

// iNat oauth client id & secret
#define INatClientID        @"INat-client-ID"
#define INatClientSecret    @"INat-client-secret"

// Google oauth client id
#define GoogleClientId      @"Google-client-ID"

#endif

