//
//  config.h
//  iNaturalist
//
//  Created by Zeev Vax on 3/28/13.
//  Copyright (c) 2013 iNaturalist. All rights reserved.
//


#ifndef iNaturalist_config_h
#define iNaturalist_config_h

#ifdef DEBUG
    #define INatClientID        @"iNat OAuth client ID"
    #define INatClientSecret    @"iNat OAuth client secret"
    #define GoogleClientId      @"Google client ID"; // https://code.google.com/apis/console
#else
    #define INatClientID        @"iNat OAuth client ID"
    #define INatClientSecret    @"iNat OAuth client secret"
    #define GoogleClientId      @"Google client ID"; // https://code.google.com/apis/console
#endif

#endif

